/* Basic info */

.page-title {
  position: absolute;
  top: calc(30px + 30vh);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: calc(1px + 1vw + 1.5vh);
  font-weight: 10;
  letter-spacing: 0em;
  margin: auto;
  user-select: none;
  color: #838585;
}

.page-text{
  position: absolute;
  top: 30%;
  left: 7%;
  display: block;
  word-wrap: normal;
  max-width: 40%;
  width: 100%;
  height: 100%;
  font-size: calc(1px + 2vw + 3vh);
  font-weight: 10;
  letter-spacing: 0em;
  margin: auto;
  user-select: none;
  color: #838585; 
}

.light-theme .page-text .pop1{
  color: black;
}

.light-theme .page-text .pop2{
  color: black;
}

.light-theme .page-text .pop3{
  color: black;
}

.dark-theme .page-text .pop1{
  color: white;
}

.dark-theme .page-text .pop2{
  color: white;
}

.dark-theme .page-text .pop3{
  color: white;
}

.page-text .pop1:hover .popimg1{
  opacity: 1;
}
.page-text .pop1:hover .caption{
  opacity: 1;
}

.page-text .pop2:hover .popimg2{
  opacity: 1;
}
.page-text .pop2:hover .caption{
  opacity: 1;
}

.page-text .pop3:hover .popimg3{
  opacity: 1;
}
.page-text .pop3:hover .caption{
  opacity: 1;
}

.page-text .pop1:hover{
  color: green;
}

.page-text .pop2:hover{
  color: red;
}

.page-text .pop3:hover{
  color: blue;
}


.info-img{
  width: 70%;
  position: absolute;
  left: 120%;
  z-index:-1;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
}

.caption{
  position: absolute;
  left: 120%;
  z-index:-1;
  top: 40%;
  opacity: 0;
  width: 70%;
  transition: 0.5s;
  font-size: 60%;
  font-weight:100;
  text-align: center;
}

.light-theme .caption{
    background-color: white;
    color: black;
  
}

.dark-theme .caption{
    background-color: black;
    color: white;
  
}