body {
  margin: 0;
  background: black;
}

svg {
  width: 0;
  height: 0;
  position: absolute;
}

.video-container video {
  width: 100%;
  display: block;
  -webkit-clip-path: url(#clip-00);
          clip-path: url(#clip-00);
}