body {
  background: black; 
  color: #808080;
  font-family: Raleway;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
h1 {
  font-family: Raleway;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  font-size: 80px;
}

h2 {
  transition: background 1.5s;  
}

h3 {
  transition: background 1.5s;  
}

h4 {
  transition: background 1.5s;
}

p {
  padding-bottom: 90px;
}


.project {
  font-family: Raleway;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
}


.project:hover {
  background-color: white;
}

.about {
  font-family: Raleway;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background 1.5s;
  transition: background 1.5s;
}

.about:hover {
  background: white;
}

.contact {
  font-family: Raleway;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  transition-property: #bg,all;
  
}

.contact:hover {
    background: white;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 390%;
    z-index: -1;
    background: white;
    transition: background 2s;
}


h2:hover ~ .bg {
    background: blue;
}
h3:hover ~ .bg {
    background: red;
}
h4:hover ~ .bg {
    background: green;
}