body {
  background-attachment: fixed;
  background-image: url("lightTile.png");
  background-repeat: repeat;
  color: #808080;
  font-family: Product Sans;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

h1 {
  color: blue;
}
p {
  color: red;
}