/* Details Structure */

.project-title{
  position: relative;
  top: 20%;
  align-self: center;
  font-size: calc(1px + 2.8vw + 3vh);
  font-weight: 10;
  margin: auto;
  user-select: none;
  z-index: 2;
}

.project-overview{
    position: relative;
    top: 30%;
    left: 10%;
    width: 50%;
    word-wrap: normal;
    font-size: calc(1px + 1.8vw + 2vh);
    font-weight: 10;
    transition:2s;
    user-select: none;
  }

  .img{
    width: 60%;
    position: absolute;
    left: 105%;
    transition: 0.5s;
  }


.dark-theme .project-overview{
  color: white;
}
.light-theme .project-overview{
  color: black;
}

.dark-theme .project-title{
  color: white;
}
.light-theme .project-title{
  color: black;
}

.dark-theme caption{
  color: white;
}

.light-theme caption{
  color: green;
}

/* General Structure */

html, body {
  height: 100vh;
  overflow: hidden;
}

.container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  z-index: -2;
}

.child {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  z-index: 1;
}

  .dark-theme .a1{
    background: black;
  }

  .light-theme .a1{
    background: white;
  }

  .dark-theme .a2{
    background: #050505;
  }

  .light-theme .a2{
    background: #f0f0f0;
  }

  .dark-theme .a3{
    background: #080808;
  }

  .light-theme .a3{
    background: #e0e0e0;
  }

  .dark-theme .a4{
    background: #0a0a0a;
  }

  .light-theme .a4{
    background: #d1d1d1;
  }

  .dark-theme .a5{
    background: #0d0d0d;
  }

  .light-theme .a5{
    background: #c9c9c9;
  }
  .dark-theme .a6{
    background: #101010;
  }

  .light-theme .a6{
    background: #c0c0c0;
  }

